/* DEVELOPER: Justin Diaz, IS117-003, Fall 2022 */
*{
    font-family: 'Outfit', sans-serif;
}
body{

    display: flex;
    flex-direction: column;
    background-image: url("../images/marble-texture.avif");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header .navbar a{
    color: #F1FFAB;
}

header .navbar-brand{
    font-size: 1.3rem;
}

.hero-section{
    margin: 10% auto;
}

.hero-card{
    max-width: 70%;
    margin: auto;
}
.card-body h1{
    font-weight: 900;
}
.card-body{
    margin: 50px auto 0;
    width: 60%;
    text-align: center;
}

.card-btn{
    max-width: 170px;
    height: 78px;
}

footer{
    margin-top: auto;
}

footer .navbar{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #F1FFAB;
}

