/* DEVELOPER: Justin Diaz, IS117-003, Fall 2022 */
*{
    font-family: 'Outfit', sans-serif;
}
body{

    display: flex;
    flex-direction: column;
    background-image: url("../images/marble-texture.avif");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
header, footer{
    z-index: 1000;
}

header .navbar a{
    color: #FFE05D;
}

header .dropdown-menu a {
    color: #F1FFAB;
}

header .navbar-brand{
    font-size: 1.3rem;
}

#book-appointment-btn{
    background-color: #FFE05D;
}
.service-content h1{
    text-align: center;
}
.treatment-card h5{
    color: #FFE05D;
}
.treatment-card p{
    color: lightgrey;
}
@media(max-width: 700px){
    .fullnav{
        display: none;
    }
    #sidenav{
        display: none;
    }
}
@media (min-width: 700px){
    .hamburger{
        display: none;
    }
}
.side-menu{
    min-height: 88.6vh;
    min-width: 20vw;
}

.side-menu h2{
    margin: auto;
    text-align: center;
    font-size: 3rem;
}

.side-menu button{
    font-size: 2rem;
}

.hero-section{
    margin: 10% auto;
}

.hero-card{
    max-width: 70%;
    margin: auto;
}
.card-body h1{
    font-weight: 900;
}
.card-body{
    margin: 50px auto 0;
    width: 60%;
    text-align: center;
}

.card-btn{
    max-width: 170px;
    height: 78px;
}

footer{
    margin-top: auto;
}

footer .navbar{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #FFE05D;
}

